@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
:root {
  --primarycolor: #3c8dbc;
  --light-color: #ffffff;
  --dark-color: #343a40;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  min-height: 100vh;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #eee;
  background-image: url('./img/background/homeback.jpg');
  background-repeat: no-repeat;
  height: 100vh;
}
a {
  color: var(--dark-color);
  text-decoration: none;
}

a:hover {
  color: var(--primarycolor);
}

ul {
  list-style: none;
}
.bold {
  font-weight: bold;
}

.container {
  max-width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
  -ms-box-orient: horizontal;
}

h1 {
  font-size: 20px;
}

.lead {
  font-size: 13px;
  color: #888;
}

small {
  border: 1px solid #ddd;
  color: #888;
  font-size: 12px;
  width: 80%;
  display: block;
}

small a {
  color: #888;
}

.dashboard-header {
  color: #fff;
  font-weight: 500;
  font-size: 23px;
}

.card {
  background: #fff;
  padding: 1.4rem;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0 2px 10px -1px #999;
}

.text-center {
  text-align: center;
}

/* Buttons and Alerts */

.btn {
  display: block;
  background: var(--primarycolor);
  color: #fff;
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn:hover {
  background-color: #5f6a75;
}
.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

/* Forms */

.form-container {
  width: 80%;
  padding: 30px;
}

.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  font-family: 'Poppins';
  display: block;
  width: 80%;
  padding: 1rem;
  font-size: 0.9rem;
  /* border: 1px solid #ccc; */
  border: none;
  border-radius: 10px;
  background: #ececec;
  margin: 0 auto;
}

.form input[type='submit'],
button {
  font: inherit;
}
/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

.px {
  padding: 0 0 1rem 0;
}
/* Margin */
.m-center {
  margin: 0 auto;
}
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0 0 0;
}
.my-1 {
  margin: 1rem 0 0 0;
}
.my-2 {
  margin: 2rem 0 0;
}
.my-3 {
  margin: 3rem 0 0;
}

/* Navigation */
.navbar {
  position: static;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-family: 'Poppins';
  height: 70px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}

.logo {
  margin: 0 0 0 2rem;
  font-size: 20px;
  line-height: 0;
}

.logo img {
  height: 20px;
}

.light-logo {
  color: #fff;
  padding: 10px;
  font-size: 20px;
}

.light-logo img {
  height: 20px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}
.navbar ul {
  font-family: 'Poppins';
  display: flex;
}

.navbar ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: #fff;
  width: 125px;
  border-left: 1px solid var(--linkbordercolor);
}

.navbar ul li:hover {
  cursor: pointer;
}

.navbar ul li i {
  font-size: 15px;
  margin: 0 0 0 10px;
}

/* Login */
.login-container {
  background: url('./img/background/loginback.jpg');
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
}

.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 40%;
}

.form-container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  margin: 0 0 4rem 0;
}

.form-container h1 i {
  font-size: 25px;
  color: var(--primarycolor);
  margin: 0 10px 0;
}

.form .btn {
  font-size: 16px;
  margin: 4rem auto 0 auto;
  width: 30%;
  border-radius: 10px;
  box-shadow: 0 2px 10px -1px #999;
}

.form small {
  margin: 1rem auto;
}
.sign-up {
  border-top: 1px solid #ccc;
  margin: 2rem 0;
  text-align: center;
}

.sign-up .btn {
  font-size: 16px;
  margin: 2rem auto 0 auto;
  width: 30%;
  border-radius: 10px;
  box-shadow: 0 2px 10px -1px #999;
}
.login-logo {
  margin: 0 0 4rem 0;
  font-size: 20px;
}

.login-logo img {
  width: 20px;
}

.have-account {
  margin: 2rem 0;
  font-size: 14px;
}

@media (max-width: 1340px) {
  .sign-up .btn {
    font-size: 13px;
  }

  .form .btn {
    font-size: 13px;
  }
  .inner-container {
    width: 60%;
  }
}

@media (max-width: 790px) {
  .inner-container {
    width: 100%;
  }
}

@media (max-width: 478px) {
  .login-logo {
    margin: 0 0 0.5rem 0;
  }
  .form small {
    display: none;
  }
  .form-container h1 {
    margin: 0 0 1rem 0;
    font-size: 13px;
  }

  .sign-up .btn {
    width: 50%;
  }

  .form .btn {
    width: 50%;
  }
  .form input[type='text'],
  .form input[type='email'],
  .form input[type='password'],
  .form input[type='date'],
  .form select,
  .form textarea {
    width: 100%;
    font-size: 12px;
    padding: 12px;
  }

  .form {
    margin: 0;
    width: 100%;
  }
  .form-container {
    width: 100%;
    padding: 25px;
    margin: 0 auto 0 auto;
  }
}
/* Register Page */

/* Login */
